<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% for i in enter %}
    <div class="card text-white bg-primary mb-3">
<div class="card-header">PFE</div>
    <div class="card-body">
        <div class="card-title">{{ i.title }}</div>
        <div class="card-text">{{ i.StudentFullName }}</div>
    </div></div>

{% endfor %}
</body>
</html>